@import '../../../assets/theme/dark.css';
@import '../../../assets/theme/base.css';
@import '../../../assets/theme/default.css';

:host {
	position: fixed;
	top: 0;
	display: flex;
	right: 0;
	background: rgba(0, 0, 0, 0.32);
	height: 100vh;
	width: 100%;
	z-index: 999;
	justify-content: center;
  align-items: center;
}

.modal{
  width: 50%;
	min-height: 90vh;
	max-height: 90vh;
	overflow-x: auto;
	background: #fff;
	border-radius: 4px;
	display: flex;
	justify-content: center;
  position: relative;
}

.close-icon{
  top: 18px;
  right: 18px;
  position: absolute;
  cursor: pointer;
}

input {
  width: 100%;
  padding: 12px 50px 12px 15px;
  margin: 8px 0;
  box-sizing: border-box;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 10px;
}

label{
  font-weight: 600;
  color: var(--label-text-color);
}
#isbn{
  background-color: #dddddd;
}


@media (min-width: 320px) and (max-width: 767px) {
	.modal-body {
		max-height: 59vh;
		min-height: 59vh;
	}

	.modal {
		width: 26%;
		min-height: 90vh;
		max-height: 90vh;
  }
  
  .row {
    display: block;
  }
  
  .column {
    flex: 100%;
  }
}