  <div class="text-end">
    <span class="text-color">
      <strong>{{ 'TABLE_DETAILS.TABLE_COUNT' | translate }}
        {{ bookData?.length }}
      </strong>
    </span>
    <span class="add-button" tabindex=0 (click)= "addBook()" ><i class="fa fa-plus" aria-hidden="true" title="Add book"></i></span>
  </div>

  <div class= "table-class" *ngIf= "bookData?.length != 0; else noData" id="book-table">
    <table>
      <thead>
        <tr>
          <th *ngFor="let col of columns" title="{{ 'TABLE_DETAILS.TABLE_HEADER.' + col.key | translate }}"> 
          <div>{{ 'TABLE_DETAILS.TABLE_HEADER.' + col.key | translate }}</div>  
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor= "let data of bookData">
          <td *ngFor="let col of index" style="cursor: pointer"  title="{{ data[col] }}">
          <div> {{ data[col] }}</div>
          </td>
          <td>
            <span class="actionEdit" (click)="onEdit(data.id)" title="Edit" tabindex=0><i class="fa fa-edit" aria-hidden="true"></i></span>
            <span class="actionDelete" (click)="onDelete(data.id)" title="Delete" tabindex=0><i class="fa fa-trash" aria-hidden="true"></i></span>
          </td>
        </tr>
      </tbody>
    </table>
</div>

<ng-template #noData>
  <p style="text-align: center;">No data available</p>
</ng-template>


<app-delete  *ngIf= "deleteForm"(closeModal)= "closeModal()" (deleteModal)= "deleteBook()"
aria-label="Opens delete book form modal"
></app-delete>

<app-action-book
*ngIf= "openFormModal"
[editData]= "editFormData"
(closeModal)= "closeFormModal()"
(getData)= "getData()"
aria-label= "Opens book form modal"
></app-action-book>