  <div class="text-end">
    <span class="text-color">
      <strong>{{ 'TABLE_DETAILS.TABLE_COUNT' | translate }}
        {{ bookData?.length }}
      </strong>
    </span>
    <button class="add-button" tabindex=0 (click)= "addBook()"><i class="fa fa-plus" aria-label="Click to add book data" title="Add book"></i></button>
  </div>

  <div class= "table-class" *ngIf= "bookData?.length != 0; else noData" id="book-table">
    <my-table-component 
    [dataTable]="bookData" 
    [columnName]="columns" 
    (edit)="onEdit($event.detail.editId)"
    (delete)="onDelete($event.detail.deleteId)"
    ></my-table-component>
  </div>

<ng-template #noData>
  <p style="text-align: center;">No data available</p>
</ng-template>


<app-delete  *ngIf= "deleteForm"(closeModal)= "closeModal()" (deleteModal)= "deleteBook()"
aria-label="Opens delete book form modal"
></app-delete>

<app-action-book
*ngIf= "openFormModal"
[editData]= "editFormData"
(closeModal)= "closeFormModal()"
(getData)= "getData()"
aria-label= "Opens book form modal"
></app-action-book>