<div class="header">
  <a>{{'BOOK_HEADER.TITLE' | translate}}</a>
  <div class="header-right">
    <div class="space-between">
      <label for="dark" class="toggle-switch" title="Enable dark theme" tabindex=0 >
      <input type="checkbox" name="dark" [(ngModel)]= "dark" id="dark"/>
      <span class="slider round"></span>
    </label>
  </div>
   <div class="space-between">
     <span type="button" tabindex=0 (click)= "onLogout()" title="Logout" class="logout"> <i class="fa fa-sign-out" aria-hidden="true"></i>
    </span>
  </div>
</div>
