@import '../../../assets/theme/dark.css';
@import '../../../assets/theme/base.css';
@import '../../../assets/theme/default.css';

#custom-header.header-right {
  float: right;
  display: flex;
}

#custom-header{
  display: inline-flex;
  background: var(--header-background);
  width: 100%;
  padding: 20px 10px;
}

.space-between{
  margin: 0 25px;
  display: inline-flex;
}