<my-header-component headerText="{{'BOOK_HEADER.TITLE' | translate}}" id="custom-header">
  <div class="space-between">
    <my-toggle-component (isToggle)="onChangeTheme($event.detail.value)"></my-toggle-component>
    <my-logout-button-component class="space-between" (click)="onLogout()" (keyup.enter)="onLogout()"></my-logout-button-component>
    <my-select-box-component [options] = "languageOption" (onChange)="switchLanguage($event.detail.value)"></my-select-box-component>
  </div>
</my-header-component>
