<div class="modal">
    <span class="close-icon"><em style="font-size: 24px" class="fa"></em></span>
    <div class="modal-body">
      <h2 style="text-align: center;">{{ 'DELETE_FORM.HEADER_TEXT' | translate }}</h2>
      <div class="body-text">
        {{ 'DELETE_FORM.BODY_TEXT' | translate }}
        </div>

        <div class="button-align">
          <form-modal-button-component buttonlabel="{{ 'DELETE_FORM.CANCEL_BUTTON' | translate }}" (click)= "closeModal.next()"></form-modal-button-component>
          <form-modal-button-component buttonlabel="{{ 'DELETE_FORM.DELETE_BUTTON' | translate }}" (click)= "deleteModal.next()"></form-modal-button-component>
      </div>
    </div>
  </div>