:host {
    position: fixed;
    top: 0;
    display: flex;
    right: 0;
    background: rgba(0, 0, 0, 0.32);
    height: 100%;
    width: 100%;
    z-index: 999;
    justify-content: center;
    align-items: center;
  }

  .modal {
    width: 35%;
    min-height: 27vh;
    overflow-x: auto;
    background: #fff;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .close-icon {
    top: 18px;
    right: 18px;
    position: absolute;
    cursor: pointer;
  }

  .body-text{
      margin-bottom: 2rem;
  }

  .button-align{
    float: right;
  }

  @media (min-width: 320px) and (max-width: 767px) { 
    .modal {
      width: 97%;
      min-height: 30vh;
    }

    :host {
      height:100%
    }
  }