@import '../../../assets/theme/dark.css';
@import '../../../assets/theme/base.css';
@import '../../../assets/theme/default.css';

footer {
  text-align: center;
  padding: 3px;
  color: #5f6368;
  background: var(--footer-background);
  line-height: 20px;
  border-top: 1px solid #e4e4e4;
  position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}