/* You can add global styles to this file, and also import other style files */
@import './assets/theme/dark.css';
@import './assets/theme/default.css';
@import './assets/theme/base.css';
@import '~ngx-toastr/toastr';

body , html{
  padding: 0;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  background: var(--background-default);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.main_body {
  min-height: calc(100vh - 60px);
}

@media only screen and (max-width: 600px) {
  .login-class , .signup-container{
    width: 100% !important;
    left: 0 !important;
  }
}

@media only screen and (max-width: 800px) {
	
	#book-table .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
	#book-table * html .cf { zoom: 1; }
	#book-table *:first-child+html .cf { zoom: 1; }
	
	#book-table table { width: 100%; border-collapse: collapse; border-spacing: 0; }
 
	#book-table th,
	#book-table td { margin: 0; vertical-align: top; width:100% }
	#book-table th { text-align: left; }
	
	#book-table table { display: block; position: relative; width: 100%; }
	#book-table thead { display: block; float: left; width: 8%;}
	#book-table tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
	#book-table thead tr { display: block;width: 70%; }
	#book-table th { display: block; text-align: right; }
	#book-table tbody tr { display: inline-block; vertical-align: top; }
	#book-table td { display: block;  text-align: left; }
 
}