/* You can add global styles to this file, and also import other style files */
@import './assets/theme/dark.css';
@import './assets/theme/default.css';
@import './assets/theme/base.css';
@import '~ngx-toastr/toastr';

body , html{
  padding: 0;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  background: var(--background-default);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.main_body {
  min-height: calc(100vh - 60px);
}